# What is Python?
- Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
- It is used for:
- web development (server-side),
- software development,
- mathematics,
- system scripting.

# Why Python?
1. Beginner Friendly 
2. Versatile and Flexible
3. Most Popular in Machine learning world
4. Most Mature package libraries around
5. It works on different platforms like Windows, Mac, Linux, Raspberry Pi.

- As of today, there are over 137,000 Python libraries and a significantly larger number of packages available, with estimates placing the total package count on the Python Package Index (PyPI) at over 530,000 packages.

In [1]:
print("Hello World!")

Hello World!

- If we want to write a math equation then change it into markdown cell and then apply $ at the starting and ending of the equation.

$a=b+c$

# Variable 
- It is like a container to store the value in it.
# Operators
- Operators are used to perform operations on variables and values.

- Here = is used for assigning the value on the right hand side to the variable that is present in the left hand side.

- Common Operators Used
- Addition +
- Subtraction -
- Multiplication *
- Division /
- mod %
- floor division //
- to the power of **

In [20]:
x = 2
y = 5.0
z = 2 + 4j
s = 'Hello'

In [21]:
print(type(x))
print(type(y))
print(type(z))
print(type(s))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

- Float can also be scientific numbers with an "e" to indicate the power of 10.

In [151]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

- To get the length of a string, use the len() function.

In [152]:
a = "Hello, World!"
print(len(a))

13

# Casting
- If you want to specify the data type of a variable, this can be done with casting.

In [149]:
i = int(5) # i will be 5
j = str(3) # j will be '3'

# Multiple Assignment
- Note: The number of variable must be equal to number of values or else it will throw an error

In [15]:
a,b=1,2

In [16]:
print(a)
print(b)

1
2

- If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [150]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [22]:
p = 1

In [24]:
print(p)

1

- Del is used to delete the variable from the memory

In [25]:
del(p)

In [26]:
print(p)

NameError: name 'p' is not defined

- if we want to know how many variables are there in the memory then we can use %whos.it gives complete info about the variables and their type that are present in the memory.

In [29]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        1
b          int        2
s          str        Hello
x          int        2
y          float      5.0
z          complex    (2+4j)

In [30]:
abcd = 1.2345

In [31]:
print(abcd)

1.2345

In [32]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        1
abcd       float      1.2345
b          int        2
s          str        Hello
x          int        2
y          float      5.0
z          complex    (2+4j)

In [33]:
del abcd

In [34]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        1
b          int        2
s          str        Hello
x          int        2
y          float      5.0
z          complex    (2+4j)

In [35]:
SumOfaAndb = type(a + b)

In [36]:
print(SumOfaAndb)

<class 'int'>

In [37]:
type(x+y)

float

In [38]:
diffOfaAndb = a-b

In [39]:
print(diffOfaAndb)

-1

In [40]:
print(x*y)

10.0

In [41]:
print(x/y)

0.4

In [42]:
print(x//y)

0.0

In [43]:
print(x%y)

2.0

In [44]:
print(x**y)

32.0

- we can store the value in a variable explicitly but if we didn't store the value then in python the previous value is stored in _ (default variable)

In [46]:
a**b

1

In [47]:
_

1

- Can a variable name start with a digit i.e, 3x ?

In [50]:
3x = 10

SyntaxError: invalid decimal literal (172784892.py, line 1)

- So the answer is No.

In [54]:
@y = 5

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2082238116.py, line 1)

In [55]:
!z = 10

'z' is not recognized as an internal or external command,
operable program or batch file.

In [56]:
*t = 1

SyntaxError: starred assignment target must be in a list or tuple (1864937.py, line 1)

In [57]:
_e = 10

In [58]:
print(_e)

10

- Remember that variable names are case-sensitive.

# Boolean
- Booleans represent one of two values: True or False.

In [62]:
print(a<b)
print(type(a<b))

True
<class 'bool'>

# Comparision Operators

In [114]:
# == if Equals to 
# != if not Equal to 
# > is Greater than
# < is less than
# >= is Greater than equal to
# <= is less than equal to

<!-- - == if it is equal
- != if not equal
- < less than
- > greater than
- <= less than or equal to 
- >= greater than or equal to  -->

In [112]:
a == b

False

In [65]:
a != b

True

In [66]:
a < b

True

In [67]:
a > b

False

In [68]:
a >= b

False

In [69]:
a <= b

True

In [82]:
3 == 3.0

True

# Logical Operators
- Logical operators are used to combine conditional statements
- and
- or
- not

In [71]:
m = True
n = False
o = True

In [72]:
print(m and n) # False
print(n and o) # False
print(o and m) # True

False
False
True

In [73]:
print(m or n) # True
print(n or o) # True
print(o or m) # True

True
True
True

In [76]:
print(not(m))
print(not(n))
print(not(o))

False
True
False

In [77]:
not((m and o) or (n or o) and (m and n) or not(o or n))

False

In [83]:
print((not(2!=3) and True) or (False and True))

False

# Other Functions

- round() function is used to round the input value to a specified number of places or to the nearest integer

In [85]:
print(round(1.923456789))

2

In [88]:
print(round(1.987999999,3))

1.988

- divmod() function outputs the quotient and the remainder in a tuple

In [89]:
divmod(2,5)

(0, 2)

In [91]:
g = divmod(27,5)

In [93]:
print(g)
print(type(g))

(5, 2)
<class 'tuple'>

- isinstance() function returns True if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [95]:
print(isinstance(1,int))

True

In [96]:
print(isinstance(1.0,int))

False

In [100]:
print(isinstance(1.0,(int,float)))

True

In [103]:
print(isinstance('True',(int,float,bool)))

False

In [104]:
print(isinstance(True,(int,float,str,bool)))

True

- pow(x,y,z) function x raise to the power y and remainder by z

In [111]:
pow(2,3,4)
# 2 ** 3
# 8 / 4
# remainder is 0

0

- input() function takes the input from the user

In [118]:
d = input("Enter a number")

Enter a number 100

In [119]:
print(d)
print(type(d))

100
<class 'str'>

In [121]:
d = int(input("Enter a number"))

Enter a number 100

In [122]:
print(d)
print(type(d))

100
<class 'int'>

In [123]:
d = float(input("Enter a number"))

Enter a number 100.1

In [124]:
print(d)
print(type(d))

100.1
<class 'float'>

In [126]:
d = float(input("Enter a number"))

Enter a number 123

In [127]:
print(d)
print(type(d))

123.0
<class 'float'>

In [128]:
d = float(input("Enter a real number"))

Enter a real number 100

In [129]:
print(d)
print(type(d))

100.0
<class 'float'>

In [131]:
d = int(input("Enter a integer value"))

Enter a integer value 123

In [132]:
print(d)
print(type(d))

123
<class 'int'>

In [133]:
d = float(input("Enter a real number"))

Enter a real number 123.1

In [134]:
print(d)
print(type(d))

123.1
<class 'float'>

- Let's say if there is a function and we don't know what are the arguments to be passed and how to use that function then we can use this method 
- name of the function?
- for example pow?

In [137]:
input?

Signature: input(prompt='')
Docstring:
Forward raw_input to frontends

Raises
------
StdinNotImplementedError if active frontend doesn't support stdin.
File:      c:\users\dell\appdata\roaming\python\python312\site-packages\ipykernel\kernelbase.py
Type:      method

In [138]:
pow?

Signature: pow(base, exp, mod=None)
Docstring:
Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

Some types, such as ints, are able to use a more efficient algorithm when
invoked using the three argument form.
Type:      builtin_function_or_method

In [139]:
isinstance?

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [140]:
divmod?

Signature: divmod(x, y, /)
Docstring: Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.
Type:      builtin_function_or_method

- if we want to get help for any specific function then we can use help(name of the function)
- for example help(isinstance)

In [146]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [147]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [148]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

# Slicing
- You can return a range of characters by using the slice syntax.
- Specify the start index and the end index, separated by a colon, to return a part of the string.

In [153]:
txt = "Hello, World!"
print(txt[2:5])

llo

# Control Flow

In [38]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if num1 > num2 :
    result = f"Number1 is greater than Number2 i.e,{num1}."
    print(result)
elif num1 == num2 :
    result = f"Number1 is equal to Number2."
    print(result)
else :
    result = f"Number2 is greater than Number1 i.e,{num2}."
    print(result)

Enter first number:  10
Enter second number:  20

Number2 is greater than Number1 i.e,20.

- In the above example code snippet I used format strings concept for string concatenation

In [41]:
marks = int(input("Enter Marks: "))
if marks >= 85:
    print("Congrats! You achieved A Grade!")
elif (marks >= 80 and marks < 85) :
    print("You achieved B Grade!")
elif (marks < 80 and marks >= 75) :
    print("You achieved C Grade!")
elif (marks < 75 and marks >= 65) :
    print("You achieved D Grade! Need to improve.")
else :
    print("You achieved E Grade! Your are below Average.")

Enter Marks:  12

You achieved E Grade! Your are below Average.

# Nested if
- if condition inside another if condition

In [48]:
number = int(input("Enter a number: "))
if number > 10 :
    print("You have entered a number greater than 10!")
    if number >= 20 :
        print("You have entered a number greater than 20!")
    else :
        print("But not greater than 20!")
elif number == 10 :
    print("You have entered a number equal than 10!")
else :
    print("You have entered a number less than 10!")

Enter a number:  15

You have entered a number greater than 10!
But not greater than 20!

# Assignment
- User will enter a floating point number let say 238.915. Your task
is to find out the integer portion before the point (in this case 238) and then check if that integer portion is an even number or not?

In [127]:
num = float(input("Enter a floating point number: "))
round_num = round(num)
if num > 0 :
    if round_num > num :
        intPortion = round_num - 1
    else :
        intPortion = round_num
else:
    if round_num < num :
        intPortion = round_num + 1
    else :
        intPortion = round_num
if intPortion % 2 == 0 :
    print("The number you have entered is a Even Number.")
else :
    print("The number you have entered is a Odd Number.")

Enter a floating point number:  -89.6

The number you have entered is a Odd Number.

# Another way

In [88]:
n = float(input("Enter a floating point number: "))
#n = round(n)
#print(n)
int_num = str(n).split(".")
#print(int_num)
#print(int_num[0])
int_num = int(int_num[0])
if int_num % 2 == 0:
    print("The number you entered is Even number.")
else :
    print("The number you entered is Odd number")

Enter a floating point number:  122.123

The number you entered is Even number.

# Loops
- A loop is a sequence of instruction s that is continually repeated until a certain condition is reached.

In [15]:
value = int(input("Enter a number: "))
i = 1
while i <= value:
    print(i)
    i += 1

Enter a number:  10

1
2
3
4
5
6
7
8
9
10

In [9]:
# Print even numbers using while loop
even_num = int(input("Enter a number: "))
i = 1
while i <= even_num:
    if i % 2 == 0 :
        print(i)
    else :
        pass
    i+=1

Enter a number:  10

2
4
6
8
10

In [6]:
# Print square of number using while loop
sqr_num = int(input("Enter a number: "))
i = 1 
while i <= sqr_num:
    sqrd_num = i ** 2
    print(sqrd_num)
    i += 1

Enter a number:  10

1
4
9
16
25
36
49
64
81
100

In [15]:
l = int(input("Enter a number: "))
i = 1
while True :
    if i % 9 == 0 :
        print("Inside if")
        break
    else :
        print("Inside Else")
        i= i + 1
print("Done")

Enter a number:  8

Inside Else
Inside Else
Inside Else
Inside Else
Inside Else
Inside Else
Inside Else
Inside Else
Inside if
Done

In [19]:
d = 10
i = 1
while True:
    if i % 9 != 0:
        print('Inside if')
        i = i + 1
        continue
    print("Something")
    print("Something Else")
    break
print("Done")

Inside if
Inside if
Inside if
Inside if
Inside if
Inside if
Inside if
Inside if
Something
Something Else
Done

# For Loop

In [58]:
# Create a empty list and range upto 10 square 
# the numbers and append it to that empty list
l = [] # Empty list
j = int(input("Enter a range: "))
for i in range (0,j+1,2):
    if i % 2 == 0 :
        i = i ** 2
        l.append(i)
print(l)

Enter a range:  20

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

# Else in for Loops

In [73]:
S = {"apple",1.5,"python","programming"}
j = 1
for i in S :
    print(i)
    j = j + 1
    if j == 3:
        break
    else:
        pass
else :
    print("Loop completes its iteration") # Here the else part executes if the complete for loop is executed
print("Outside the loop")

apple
1.5
Outside the loop

In [82]:
D = {"Fruit":"Apple","Game":"Chess"}
for x in D :
    print(x)
    print(x,D[x])

Fruit
Fruit Apple
Game
Game Chess

# Assignment
-  Given a list of numbers i.e., [1,2,4,-5,7,9,3,2],make another list that contains all the items in sorted order from min to max i.e., your result will be another list like [-5,1,2,2,3,4,7,9]

In [116]:
L = [1,2,4,-5,7,9,3,2]
for j in range (len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j,len(L)):
        if L[i] < m:
            m = L[i]
            idx = c 
        c = c + 1
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)

[-5, 1, 2, 2, 3, 4, 7, 9]

In [104]:
# In python we have built in functions that are predefined and we can use them without writing a block of code.
L = [1,2,4,-5,7,9,3,2]
L.sort()
print(L)

[-5, 1, 2, 2, 3, 4, 7, 9]

# Functions

In [119]:
def printSuccess():
    print("The task was successful!")
    print("Moving on to the next task")
    print("Send me the next task")

In [121]:
printSuccess()

The task was successful!
Moving on to the next task
Send me the next task

In [4]:
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [34]:
def printmsg(msg):
    """The function prints the message supplied by the user
    or prints that msg is not in the form of string"""
    if isinstance(msg,str):
        print(msg)
    else :
        print("Your input argument is not a string!")
        print("Here is the type of what you have supplied:",type(msg))

In [35]:
printmsg(123)

Your input argument is not a string!
Here is the type of what you have supplied: <class 'int'>

In [36]:
def mypow(a,b):
    """ This function computes power just like builtin pow functions
    """
    c = a ** b
    print(c)

In [42]:
mypow(2,3)

8

In [62]:
def twoArgs(arg1,arg2) :
    """ This function is used to pass two args 
    for the same function """
    greet = "Welcome " + arg1 + "!" + "Your last name is " + arg2 + ". Glad to see you here!"
    print(greet)

In [63]:
twoArgs("Ravi","Kumar")

Welcome Ravi!Your last name is Kumar. Glad to see you here!

In [64]:
def checkArgs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)) :
        print((a+b+c) ** 2)
    else :
        print("Error: The input arguments are not of the expected types!")

In [66]:
checkArgs(1,2,3)

36

In [67]:
checkArgs(3,4,"A")

Error: The input arguments are not of the expected types!

In [68]:
checkArgs(1,2)

TypeError: checkArgs() missing 1 required positional argument: 'c'

In [69]:
checkArgs(1,2,3,4)

TypeError: checkArgs() takes 3 positional arguments but 4 were given

In [71]:
def args(a,b,c):
    print("A is :",a)
    print("B is :",b)
    print("C is :",c)

In [72]:
args(2,3,"Python")

A is : 2
B is : 3
C is : Python

In [73]:
args("Python",3,2)

A is : Python
B is : 3
C is : 2

In [74]:
args(a=2,b=3,c="Python")

A is : 2
B is : 3
C is : Python

In [75]:
args(a="Python",b=2,c=3)

A is : Python
B is : 2
C is : 3

In [83]:
def add(x,y):
    return x + y

In [86]:
add(12,13)

25

In [87]:
variableOutsideTheFunction = 3

In [96]:
def g():
    variableOutsideTheFunction = 5
    print(variableOutsideTheFunction)

In [97]:
g()

5

In [98]:
print(variableOutsideTheFunction)

3

In [99]:
def r():
    a = 5
    b = 7
    c = "Something"
    return a,b,c

In [100]:
x,y,z=r()
print(x,y,z)

5 7 Something

In [107]:
# Functions - variables of input arguments
def add(*args):
    sum = 0
    for i in range(len(args)):
        sum = sum + args[i]
    return sum

In [111]:
print(add(1,2))

3

In [112]:
add(9,8,7,6,5)

35

In [133]:
# Functions - variables number of input arguments
def f(**args):
    for x in args :
        print("Variable name is : " ,x," And Value is : ", args[x])

In [134]:
f(a=1,b=5.9,c="Python")

Variable name is :  a  And Value is :  1
Variable name is :  b  And Value is :  5.9
Variable name is :  c  And Value is :  Python

In [137]:
def f(sum=10):
    print(sum)

In [138]:
f()

10

In [141]:
L = [1,2,3]
L2 = L
L[0] = -5
print(L)

[-5, 2, 3]

# What is a Module?
- Consider a module to be the same as a code library.
- A file containing a set of functions you want to include in your application.

# Practicing Functions

-  Given a list of numbers i.e., [1,2,4,-5,7,9,3,2],make another list that contains all the items in sorted order from min to max i.e., your result will be another list like [-5,1,2,2,3,4,7,9]

In [12]:
def findMin(L) :
    m = L[0]
    idx = 0
    i = 0
    for x in L:
        if x < m:
            m = x
            idx = i
        else:
            pass
        i+=1
    return m,idx

In [13]:
a,b = findMin([1,2,-4,5,-10])

In [14]:
print(a,b)

-10 4

# Swap two numbers in a list

In [22]:
def swap(L,idx1,idx2):
    tmp = L[idx1]
    L[idx1] = L[idx2]
    L[idx2] = tmp
    return L

In [23]:
result = swap([9,8,7,6,5],1,4)

In [24]:
print(result)

[9, 5, 7, 6, 8]

In [32]:
Lst = [1,2,3,9,8,7,4,2,-10,-5,-3]
Lst.sort()

In [33]:
print(Lst)

[-10, -5, -3, 1, 2, 2, 3, 4, 7, 8, 9]

# Python String Function

- "Python" is as same as 'Python' but be careful and don't mix like this 'Python" and "Python'

- String Concatenation

In [5]:
s = "Python is best language for Data Science"
t = 'in this notebook we shall practice python.'
print(s + ' and,' + t)

Python is best language for Data Science and,in this notebook we shall practice python.

- Concatenating a string and a integer

In [11]:
# Method 1
price = 10
a = "The price of this book"
b = a + " is: " + str(price)
print(b)
# Method 2
print(a,"is:",price)

The price of this book is: 10
The price of this book is: 10

- Multi line String

In [16]:
multilineString = """This is the first line in the multiline string
This is the second line in the multiline string
This is the third line and final line in the multiline string."""

In [17]:
print(multilineString)

This is the first line in the multiline string
This is the second line in the multiline string
This is the third line and final line in the multiline string.

# String Indexing and Slicing

In [31]:
string = "Game of Programming"
print(string[3]) # Starting from 0th char prints the third character
print(string[6:12]) 
# Starting from 6th char prints till 11th char 
# but 12th char is not included.

e
f Prog

# Negative Indexing

- Use negative indexes to start the slice from the end of the string:

In [39]:
string = "Game of Programming"
print(string[-12:-3])

 Programm

In [41]:
string[0:12:2]

'Gm fPo'

In [42]:
# string[startindex:endindex:step]
# by default step is 1

In [43]:
# starting from 1st char till 11th char 12th char is not included
string[:12]

'Game of Prog'

In [45]:
# starting from 3rd char till last char
string[3:]

'e of Programming'

In [46]:
# starting from 2nd char till 11th char 12th char is not included
string[2:12]

'me of Prog'

In [47]:
# starting from 2nd char till 11th char 12th char is not included
# with step 1
string[2:12:1]

'me of Prog'

In [49]:
# starting from 2nd char till 11th char 12th char is not included
# with step 2
string[2:12:2]

'm fPo'

In [50]:
# starting from 1st char till last char but in reverse order
string[::-1]

'gnimmargorP fo emaG'

# Length of a string

- To get the length of a string, use the len() function.

In [51]:
len(string)

19

In [53]:
# Length of substring
len(string[3:12])

9

# String Functions

In [58]:
a = "     A lot OF Spaces at The            beGinning and at the END"
b = a.strip()
# strip is used to remove all the spaces at the 
# starting and the ending

In [59]:
b

'A lot OF Spaces at The            beGinning and at the END'

In [60]:
# Converts the string into lower case
print(b.lower())

a lot of spaces at the            beginning and at the end

In [61]:
# Converts the string into upper case
print(b.upper())

A LOT OF SPACES AT THE            BEGINNING AND AT THE END

In [62]:
# The replace() method replaces a specified phrase 
# with another specified phrase. 
print(b.replace(" ",","))

A,lot,OF,Spaces,at,The,,,,,,,,,,,,beGinning,and,at,the,END

In [69]:
# The split() method splits a string into a list.
# You can specify the separator, default separator is any whitespace.
# Note: When maxsplit is specified, the list will contain the 
# specified number of elements plus one.
splitString = "This , is the , example for split,, string,,,"
print(splitString.split(","))

['This ', ' is the ', ' example for split', '', ' string', '', '', '']

In [72]:
s = "this is a string"
s.capitalize() # Returns a capitalized version of the string.

'This is a string'

In [73]:
# whether a particular substring is present in string or not
print("at" in "abcdefghijklmnat")

True

In [75]:
print("at" not in "abcdefghijklmnat")

False

In [86]:
# It compares based on the alphabetical order
"abc"<"xyz"

True

In [93]:
print("We are learning 'string' here")

We are learning 'string' here

In [95]:
print("We are learning \"string\" here")

We are learning "string" here

In [96]:
print('We are learning "string" here')

We are learning "string" here

In [97]:
print("We are \t on another line")

We are 	 on another line

In [98]:
print("c:\name\drive")

c:
ame\drive

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\DELL\AppData\Local\Temp\ipykernel_19504\1646069977.py:1: SyntaxWarning: invalid escape sequence '\d'
  print("c:\name\drive")

In [99]:
print(r"c:\name\drive")

c:\name\drive

# Data Structures in Python
1. List - [] -ordered,changeable or mutable,duplicates
2. Tuple - () - ordered,Unchangeable  or immutable,duplicates
3. Set - {} - Unordered,addable/removable,no duplicates
4. Dictionary - {keyvalue:pairs}  - Unordered,changeable,no duplicates

- Data structure in simple terms is a collection of lot of values and data.
- all the data structures have data of heterogeneous types which means one value can be integer another value can be string or float etc.

In [105]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"Twothree","B":43,"C":"CCD"}

In [106]:
print("The type of L is ",type(L))
print("The type of T is ",type(T))
print("The type of S is ",type(S))
print("The type of D is ",type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [107]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
Twothree

In [109]:
print(D["B"])

43

In [110]:
S
# Here we have given the value 3 two times but instead 
# we got only one time because the set has no duplicate values.

{1, 3, 4.9, 'name'}

In [111]:
L[1:3]

[3, 4.9]

In [112]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [116]:
T[:3]

(1, 3, 4.9)

In [114]:
T[1:3]

(3, 4.9)

In [115]:
T[::-1]

(3, 'name', 4.9, 3, 1)

In [117]:
# If we want to add new items to list we can do like this
L = L + ["Game"]

In [118]:
L

[1, 3, 4.9, 'name', 3, 'Game']

In [132]:
# We can achieve the above result using the predefined python
# append function
L.append("Fruits")

In [131]:
L

[1,
 3,
 4.9,
 'name',
 3,
 'Game',
 'Fruits',
 'Fruits',
 'Fruits',
 'Fruits',
 'Fruits',
 'Fruits']