# Why Python?
1. Beginner Friendly 
2. Versatile and Flexible
3. Most Popular in Machine learning world
4. Most Mature package libraries around

- As of today, there are over 137,000 Python libraries and a significantly larger number of packages available, with estimates placing the total package count on the Python Package Index (PyPI) at over 530,000 packages.

In [1]:
print("Hello World!")

Hello World!

- If we want to write a math equation then change it into markdown cell and then apply $ at the starting and ending of the equation.

$a=b+c$

# Variable 
- It is like a container to store the value in it.
# Operators
- Operators are used to perform operations on variables and values.

- Here = is used for assigning the value on the right hand side to the variable that is present in the left hand side.

- Common Operators Used
- Addition +
- Subtraction -
- Multiplication *
- Division /
- mod %
- floor division //
- to the power of **

In [20]:
x = 2
y = 5.0
z = 2 + 4j
s = 'Hello'

In [21]:
print(type(x))
print(type(y))
print(type(z))
print(type(s))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

# Multiple Assignment
- Note: The number of variable must be equal to number of values or else it will throw an error

In [15]:
a,b=1,2

In [16]:
print(a)
print(b)

1
2

In [22]:
p = 1

In [24]:
print(p)

1

- Del is used to delete the variable from the memory

In [25]:
del(p)

In [26]:
print(p)

NameError: name 'p' is not defined

- if we want to know how many variables are there in the memory then we can use %whos.it gives complete info about the variables and their type that are present in the memory.

In [29]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        1
b          int        2
s          str        Hello
x          int        2
y          float      5.0
z          complex    (2+4j)

In [30]:
abcd = 1.2345

In [31]:
print(abcd)

1.2345

In [32]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        1
abcd       float      1.2345
b          int        2
s          str        Hello
x          int        2
y          float      5.0
z          complex    (2+4j)

In [33]:
del abcd

In [34]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        1
b          int        2
s          str        Hello
x          int        2
y          float      5.0
z          complex    (2+4j)

In [35]:
SumOfaAndb = type(a + b)

In [36]:
print(SumOfaAndb)

<class 'int'>

In [37]:
type(x+y)

float

In [38]:
diffOfaAndb = a-b

In [39]:
print(diffOfaAndb)

-1

In [40]:
print(x*y)

10.0

In [41]:
print(x/y)

0.4

In [42]:
print(x//y)

0.0

In [43]:
print(x%y)

2.0

In [44]:
print(x**y)

32.0

- we can store the value in a variable explicitly but if we didn't store the value then in python the previous value is stored in _ (default variable)

In [46]:
a**b

1

In [47]:
_

1

- Can a variable name start with a digit i.e, 3x ?

In [50]:
3x = 10

SyntaxError: invalid decimal literal (172784892.py, line 1)

- So the answer is No.

In [54]:
@y = 5

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2082238116.py, line 1)

In [55]:
!z = 10

'z' is not recognized as an internal or external command,
operable program or batch file.

In [56]:
*t = 1

SyntaxError: starred assignment target must be in a list or tuple (1864937.py, line 1)

In [57]:
_e = 10

In [58]:
print(_e)

10

# Boolean
- Booleans represent one of two values: True or False.

In [62]:
print(a<b)
print(type(a<b))

True
<class 'bool'>

# Comparision Operators
- == if it is equal
- != if not equal
- < less than
-- > greater than
- <= less than or equal to 
- >= greater than or equal to